body > header {
  height: 600px;
  width: 100%;
  padding-top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #141e24;
  background-image: url("https://www.transparenttextures.com/patterns/white-wall-3-2.png");
  color: slategray;
}
